<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>song song</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:52</td>   <td>20740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@71809907]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:52</td>   <td>20740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@71809907]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:52</td>   <td>20740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@71809907]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:52</td>   <td>20740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;parallel.afterMethod()[pri:0, instance:com.selenium.test.parallel@71809907]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:19</td>   <td>-11922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:19</td>   <td>-11922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:19</td>   <td>-11922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:19</td>   <td>-11922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:19</td>   <td>-11922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@5bd03f44]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:42</td>   <td>10617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@71809907]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:42</td>   <td>10617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@71809907]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:42</td>   <td>10617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@71809907]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:42</td>   <td>10617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;parallel.beforeMethod(java.lang.String)[pri:0, instance:com.selenium.test.parallel@71809907]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:17:22</td>   <td>-69760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro1()[pri:0, instance:com.selenium.test.parallel@5bd03f44]">testPro1</td> 
  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:17:37</td>   <td>-54283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro2()[pri:1, instance:com.selenium.test.parallel@5bd03f44]">testPro2</td> 
  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:17:59</td>   <td>-32531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro3()[pri:2, instance:com.selenium.test.parallel@5bd03f44]">testPro3</td> 
  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:12</td>   <td>-19330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro4()[pri:3, instance:com.selenium.test.parallel@5bd03f44]">testPro4</td> 
  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:31</td>   <td>-228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro5()[pri:4, instance:com.selenium.test.parallel@5bd03f44]">testPro5</td> 
  <td>TestNG-tests-1@1489212559</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:17:34</td>   <td>-57178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro6()[pri:5, instance:com.selenium.test.parallel@71809907]">testPro6</td> 
  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:17:47</td>   <td>-44400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro61()[pri:6, instance:com.selenium.test.parallel@71809907]">testPro61</td> 
  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:33</td>   <td>2141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro62()[pri:7, instance:com.selenium.test.parallel@71809907]">testPro62</td> 
  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
<tr bgcolor="67a798">  <td>21/05/06 09:18:51</td>   <td>19324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="parallel.testPro7()[pri:8, instance:com.selenium.test.parallel@71809907]">testPro7</td> 
  <td>TestNG-tests-2@919297965</td>   <td></td> </tr>
</table>
