<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67a8a9">  <td>21/05/06 10:49:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FinalTest.afterMethod()[pri:0, instance:com.selenium.test.FinalTest@3c130745]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1961945640</td>   <td></td> </tr>
<tr bgcolor="67a8a9">  <td>21/05/06 10:49:20</td>   <td>-27367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FinalTest.beforeMethod()[pri:0, instance:com.selenium.test.FinalTest@3c130745]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1961945640</td>   <td></td> </tr>
<tr bgcolor="67a8a9">  <td>21/05/06 10:49:26</td>   <td>-21764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FinalTest.testPro61()[pri:6, instance:com.selenium.test.FinalTest@3c130745]">testPro61</td> 
  <td>main@1961945640</td>   <td></td> </tr>
</table>
